{% extends 'main/base.html' %}
{% block title %} Главная {% endblock %}
{% load static %}
{% block content %}
        <section class="lead">
            <h1 class="lead__title">Системный администратор</h1>
        </section>
        <section class="info">

            <div class="who">
                <img class="who__image" src='{% static "img/info-image.jpg" %}' alt="Изображение системного администратора">
                <div class="who__text">
                   <h2 class="info__title title">Кто это?</h2>
                    <p class="lead__text info__text_border">
                        Это специалист, который нужен в любой компании, где сотрудники работают на компьютерах. Он устанавливает, настраивает и поддерживает бесперебойную работу и безопасность ИТ-систем: приложений, сайтов, локальной сети и всего софта в компании. От сисадмина зависит, насколько комфортно будет работать команде, будет ли стабильной внутренняя технологическая инфраструктура, как быстро будут устранять неполадки и насколько оперативно восстанавливается инфраструктура после аварий.
                    </p>
                </div>
            </div>

            <div class="responsibilities">
                <h2 class="info__title title">Чем занимается сисадмин?</h2>
                <p class="info__text">
                    Системный администратор занимается всем, что связано с настройкой и поддержанием работы внутренней инфраструктуры компании. Его задачи:
                </p>
                <ul class="info__list">
                    <li class="info__list-item">Устанавливать, настраивать и обновлять все ПО, необходимое для работы компании, в том числе операционные системы Windows и Linux.</li>
                    <li class="info__list-item">Отслеживать и устранять ошибки в работе инфраструктуры: ПО для работы сотрудников, сайта или приложения компании.</li>
                    <li class="info__list-item">Поддерживать информационную безопасность, защищать локальные сети и инфраструктуру разработки от взломов.</li>
                    <li class="info__list-item">Проводить профилактику перегрузок инфраструктуры: писать скрипты для автоматизации, которые помогут системе бесперебойно работать и не «падать». Также сисадмин должен регулярно сохранять резервные копии баз данных, чтобы система продолжала работать, если возникнут проблемы.</li>
                    <li class="info__list-item">Поддерживать и настраивать системы мониторинга. Это помогает в будущем защитить инфраструктуру от таких же или схожих проблем.</li>
                </ul>
                <p class="info__text">
                    С компьютерами сегодня работают везде: от очевидных финтеха и образования до ретейла и общепита. Соответственно, всем сферам понадобится системный администратор, который следит, чтобы все работало слаженно и без ошибок.
                </p>
            </div>
        </section>

        <section class="skills">
            <div class="skills__content">
                <h2 class="skills__title title">Навыки системного администратора</h2>
                <p class="skills__text">
                    Вопреки стереотипам, системный администратор не сидит без дела в ожидании, когда что-то сломается. Его работа — проактивная, он должен не только оперативно устранять неполадки, но и предупреждать их. Для этого нужно уметь работать с базами данных, программировать и разбираться в автоматизации, а также быть стрессоустойчивым и очень внимательным.
                </p>
            </div>
            <img class="skills__image" src='{% static "img/skills.jpg" %}' alt="Изображение системного администратора">
        </section>

        <section class="career">
            <h2 class="career__title title">Куда расти системному администратору?</h2>
            <p class="career__text">
                Помимо роста по грейдам очевидный карьерный трек для системного администратора — <b>DevOps-инженер</b>. Это специалист, который внедряет в компании DevOps-методологию. Концепция DevOps предполагает оптимизацию инфраструктуры и процессов разработки, чтобы они шли эффективно, новый функционал выкатывался быстро, работа над проектом была прозрачной для всех участников: от проектирования до тестирования и эксплуатации.
            </p>
            <p class="career__text">DevOps-инженер может работать только в компаниях, где есть команда разработки. Но зарплата его при этом выше, чем у системного администратора.</p>
        </section>
{% endblock %}